.home--page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  height: 90vh;
  width: 100vw;
  font-family: "Rubik", sans-serif;
  background-image: url(https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80);
  background-size: cover;
  font-size: 40px;
  color: rgb(20, 54, 82);
}

.name {
  text-decoration: none;
  font-size: 70px;
  color: rgb(20, 54, 82);
}

.about--me {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15vh;
  background-color: rgb(20, 54, 82);
  color: white;
  font-size: 25px;
}

.projects {
  display: flex;
  align-items: center;
  background-color: rgb(60, 69, 82);
  width: 100vw;
  height: 100vh;
}

.card {
	border: 1px solid rgb(20, 54, 82);
	padding: 2em 1em;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  border-radius: 8px;
  background-color: rgb(20, 54, 82);
}
	.card:hover {
		box-shadow: 1px 2px 0px rgb(60 64 67 / 30%), 0px 2px 6px 2px rgb(60 64 67 / 15%);
		transition: 0.8s linear;
		border-radius: 8px;
  }

  .project-info {
    color: white;
  }

  .card-title {
    color: white;
  }
  





