.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(60, 69, 82);
  width: 100vw;
  height: 150vh;
}

.about__title {
  padding: 20px;
}

.about__body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(20, 54, 82);
  color: white;
  margin: 100px;
  margin-bottom: 50px;
  padding: 50px;
  box-shadow: 10px 10px 10px black;
}

.work__title {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.work__history {
  padding: 20px;
}

.work__description {
  text-align: center;
}
