.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(60, 69, 82);
}

.contact__me {
  margin: 100px;
  padding: 50px;
  background-color: rgb(20, 54, 82);
  color: white;
}

.contact__title {
  font-size: 50px;
  text-decoration: underline;
  padding: 10px;
}

.contact__info {
  padding: 10px;
}

.contact__links {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}

@media (max-width: 375px) {
  .contact {
    width: 200vw;
    height: 200vh;
  }
}
