.main-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 12vh;
    position: relative;
    bottom: 0;
    background-color: rgb(20, 54, 82);
    color: white;
    font-size: large;
}

.links {
    text-decoration: none;
    color: white;
}

.links:hover {
    text-decoration: none;
    color: white;
}