.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  height: 90vh;
  width: 100vw;
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
  background-image: url(https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  font-size: 40px;
  color: rgb(20, 54, 82);
  position: relative;
}

@media (max-width: 768px) {
  .home {
    height: 40vh;
  }
}

.home__overlay {
  background: #000;
  height: 96%;
  width: 100%;
  opacity: 0.4;
  position: absolute;
}

.home__name {
  padding-top: 50px;
  text-decoration: none;
  font-size: 70px;
  color: white;
  z-index: 7;
}

.home__content {
  color: white;
  text-decoration: none;
  z-index: 7;
}

.home__icon {
  color: white;
  z-index: 7;
}

.home__skills {
  padding: 5px;
  color: white;
  z-index: 7;
}

.about--me {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15vh;
  background-color: rgb(20, 54, 82);
  color: white;
  font-size: 25px;
}

.projects {
  display: flex;
  align-items: center;
  background-color: rgb(60, 69, 82);
  width: 100vw;
  height: 50vh;
}

.cards {
  width: 100vw;
  height: 80vh;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(60, 69, 82);
  box-sizing: border-box;
  size: 100%;
  padding: 30px;
}

@media (max-width: 768px) {
  .cards {
    height: 50vh;
  }
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.text-black {
  color: #000;
}

.buttons {
  margin: 5px;
}

@media (max-width: 375px) {
  .home {
    width: 200vw;
  }
}

@media (max-width: 375px) {
  .about--me {
    width: 200vw;
  }
}

@media (max-width: 375px) {
  .cards {
    width: 200vw;
    height: 200vw;
  }
}
