.contact-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: $secondary-color;
}

.contact-main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: $primary-color;
    padding: 40px;
    width: 50vw;
    height: 75vh;
    color: white;
    box-shadow: 10px 10px 10px black;


    .info{
        padding: 20px;


    }
}

h1{
    font-size: 50px;
    text-decoration: underline;
}