.main-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 8vh;
    position: fixed;
    bottom: 0;
    background-color: $primary-color;
    color: white;
}
