
.main--nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    height: 10vh;
    background-color: $primary-color;
}

.links{
    text-decoration: none;
    font-size: 24px;
    margin: 25px;
    color: white;
    font-family: 'Rubik', sans-serif;
}

a{
    text-decoration: none;
    font-size: 24px;
    margin: 25px;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.dropdown{
    display: none;
}

.mobile-menu{
    display: none;
}


@media (max-width: 768px){
    .links{
        text-decoration: none;
        font-size: 18px;
        margin: 25px;
        color: white;
    }
    
    a{
        text-decoration: none;
        font-size: 18px;
        margin: 25px;
        color: white;
    }
}

@media (max-width: 500px){


.links{
    display: none;
}


.dropdown {
    display: initial;
    font-size: 25px;
    cursor: pointer;
}



.mobile-menu{
    display: initial;
    position: fixed;
    top: 48px;
    right: 0px;
    height: 250px;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: $secondary-color;
}


a{
    text-decoration: none;
    font-size: 24px;
    margin: 25px;
    color: white;
    font-family: 'Rubik', sans-serif;
}

i{
    color: white;
}
}