@import 'config';
@import 'home';
@import 'about';
@import 'contact';
@import 'footer';
@import 'nav';

* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}